<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Show</h1>
    <ul>
      <li><%=post.image%></li>
      <li><%=post.title%></li>
      <li><%=post.body%></li>
    </ul>
    <form
      action="/<%=post.id %>?_method=DELETE"
      method="POST"
      style="display: inline; margin-left: 15px"
    >
      <input type="submit" value="DELETE" />
      <a href="/<%=post._id %>/edit" style="margin-left: 15px">Edit</a>
    </form>
  </body>
</html>
