<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="form-container">
      <div class="edit-image"></div>
      <div class="form-info">
        <h1>EDIT POST</h1>
        <form action="/crud/<%=post._id%>?_method=PUT" method="POST">
          <fieldset class="form-inputs">
            <input class="inp" placeholder="<%=post.image%>" type="text" name="image" /><br />
            <input class="inp"  placeholder="<%=post.title%>" type="text" name="title" /><br />
            <textarea class="inp"  placeholder="<%=post.body%>" type="text" name="body"></textarea
            ><br />
          </fieldset>
          <input class="submit" type="submit" value="Submit Changes" />
        </form>
      </div>
    </div>
  </body>
</html>
