<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="show-container">
      <div class="show-info">
        <a href="/crud/<%=post._id %>/edit"
          ><img src="<%=post.image%>" class="show-image" alt=""
        /></a>
        <h1><%=post.title%></h1>
        <p><%=post.body%></p>
      </div>
    </div>
  </body>
</html>
