<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>Show</h1>
    <ul>
      <li><%=post.image%></li>
      <li><%=post.title%></li>
      <li><%=post.body%></li>
    </ul>
    <form
      action="/crud/<%=post.id %>?_method=DELETE"
      method="POST"
    >
      <a href="/crud/<%=post._id %>/edit">Edit</a></br>
      <input type="submit" value="DELETE" />
    </form>
  </body>
</html>
